*.zip
*.tar.gz
*.o 
*.pyc
__pycache__/
data/*
build/
dist/
*.egg-info/
.idea/

# Logs Folder
log/

# torchtext vectors cache
.vector_cache

# Local run directory
runs/

env/

# Pycharm directory
.idea/

# Mac tmp
.DS_Store

.pytest_cache/

saved-models/
predictions/