# for matrix routines
numpy==1.11.0

# for tensor manipulation and neural models
tensorflow==1.10.1

# for neural network models
keras==2.1.5

# for models, statistics and cross validation
scikit_learn==0.19.1

# for the tokenizer and error analysis
nltk==3.2.5  

# for prosodic info and error analysis
pandas==0.17.1

# for part of speech tagging
nlpnet==1.2.2

# for error analysis
pandas_ml==0.4.0 
DocumentFeatureSelection==1.4.1

# for crf models
sklearn_crfsuite==0.3.3

# for rcnn-crf model
-e https://github.com/keras-team/keras-contrib.git@bdda714524da3382440ae2e98219b44df9fb3c61

# for embeddings
gensim==2.0.0
-e https://github.com/salestock/fastText.py.git
-e https://github.com/maciejkula/glove-python.git
-e https://github.com/wlin12/wang2vec.git
